@use "/src/common/styles/colors" as *;
$width: 300px;
.navMenu {
  width: $width;

  position: fixed;
  left: -$width;
  top: 0;
  bottom: 0;
  background-color: $colorBg;
  color: #fff;
  transition: left 0.5s;
  ul {
    list-style: none;
    padding: 0;
    padding-top: 40px;
    a {
      display: block;
      padding: 1rem;
      font-size: 1.7rem;
      &:hover {
        background-color: $colorMain;
        color: $colorBg;
      }
    }
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.open {
  left: 0;
}
